* {
background-color: whitesmoke;
/* font-family: 'Alfa Slab One', cursive; */
}
#stage{
    display: flexbox;
}
  #name {
    text-align: center;
    /* padding: 10px 50px 50px 50px; */
    color: #000000;
    font-family: Trebuchet MS;
    font-size: 70px;
    font-weight: bold;
  }

  #alphaContainer {
      display: flex;
      /* border: solid; */
      flex-wrap: wrap;
      width: 370px;
      height : auto;
    
      /* justify-content: space-around; */
  }
  #wordInit{
    display:flex;
    align-items: flex-end;
  }
  #try{
    display:flex;

  }
  #categories{
      font-family: 'Architects Daughter', cursive;
      align-content: center;
      font-size: 40px;
      text-align: center;
      font-weight: bold;
  }
  .letter {
      width: 50px;
      height: 50px;
      background-color: wheat;
      font-family: 'Architects Daughter', cursive;
      font-size: 30px;
      border: solid;
      margin: 2%;
      text-align: center;
    }
    .wordDisplay{
      width: 50px;
      height: 50px;
      display: flex;
      display: inline;
      background-color : pink;
      font-family: 'Architects Daughter', cursive;
      font-size: 30px;
      border: solid;
      margin: 3%;
      text-align: center;
    }

#hint {
  /* font-family: 'Alfa Slab One', cursive; */
  font-size: 17px;
}
#playAgain {
  font-size: 17px;
}
#hintPlay{
  display: flex;
  justify-content: center;
}
#again{
  display: flex;
  justify-content: center;
}
#clueBox{
  width: 100%;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 20px;
}
